/* DEFAULT */
body {
    overflow-x: hidden;
}
.body__container {
    width: 100%;
    color: #3b3b3b;
    font-size: 16px;
    cursor: none;
    -ms-overflow-style: none;
}
.inner h3 {
    font-family: 'Staatliches', cursive;
    font-size: 6.5vw;
    text-align: center;
    margin-bottom: 70px;
}
a {
    cursor: none;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}

/* ANIMATION */
@keyframes moveDown {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes moveLeft {
    from {
        transform: translate(200%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes homeCircle {
    0% {
    }
    25% {
    }
    50% {
        border-top: 0.5px solid #3b3b3b;
        border-bottom: 0.5px solid #3b3b3b;
    }
    75% {
    }
    100% {
        border-right: 0.5px solid #3b3b3b;
        border-left: 0.5px solid #3b3b3b;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes stroke {
    0% {
        stroke: rgba(255, 255, 255, 0.925);
        /* stroke: #3b3b3b; */
        stroke-width: 3px;
        stroke-dashoffset: 326px;
    }
    10% {
    }
    70% {
        fill: transparent;
    }
    98% {
        /* stroke: #3b3b3b; */
        stroke: rgba(255, 255, 255, 0.925);
        stroke-width: 3px;
    }
    100% {
        /* fill: #3b3b3b; */
        fill: rgba(255, 255, 255, 0.925);
        stroke-width: 3px;
        stroke-dashoffset: 0px;
        stroke-dasharray: 550px;
    }
}
@keyframes iconCircle {
    0%{
        border-radius: 500px;
        background-color: rgba(255, 221, 111, 0.74);
        transform: rotateY(0);
    }
    60%{
        border-radius: 500px;
        background-color: rgba(255, 255, 255, 0.7);
        transform: rotateY(180deg);
    }
    100%{
        border-radius: 500px;
        background-color: rgba(255, 221, 111, 0.74);
        transform: rotateY(0);
    }
}
/* MOUSE EVENT */
.custom-mouse {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffc527d8;
    transition: all 0.1s ease;
    z-index: 1000;
}
.mouse-over {
    background-color: rgba(235, 191, 48, 0.473);
    transform: scale(3);
    transition: all 0.2s ease;
    pointer-events: none;
}

/* LOADING */

/* HEADER */
header a {
    text-decoration: none;
}
header a:visited {
    color: rgba(255, 255, 255, 0.925);
}
header .inner {
    width: 85%;
    height: 80px;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 30px 10px;
    animation: moveDown 1.5s linear;
    animation-fill-mode: forwards;
    z-index: 999;
}
header .inner .logo {
    padding: 5px;
}
header .inner .logo a {
    color: rgba(255, 255, 255, 0.925);
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}
header .inner .menu-bar {
    position: relative;
    padding: 5px;
    width: 40px;
    height: 40px;
}
header .inner .menu-bar span {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s linear;
}
header .inner .menu-bar span:first-of-type{
    top: 17px;
    left: 0;
}
header .inner .menu-bar span:last-of-type {
    top: 23px;
    left: 7px;
}
header .inner .menu-bar:hover > span {
    left: 4px;
    transition: all 0.2s linear;
}
header .inner .menu-bar.active span:first-of-type {
    width: 25px;
    top: 17px;
    left: 0;
    transform: rotate(45deg);
}
header .inner .menu-bar.active span:last-of-type {
    width: 25px;
    top: 17px;
    left: 0;
    transform: rotate(-45deg);
}
header .inner .menu-group {
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
    z-index: 52;
}
header .inner .menu-group .main-menu {
    display: flex;
    opacity: 0;
    visibility: hidden;
    width: 45%;
    justify-content: space-between;
    padding: 10px 20px;
    margin-right: 10px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(85, 85, 85, 0.7);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.856);
    backdrop-filter: blur(8px);
    transition: all 0.3s linear;
}
header .inner .menu-group .main-menu.show {
    opacity: 1;
    visibility: visible;
}
header .inner .menu-group .main-menu li {
    list-style: none;
}
header .inner .menu-group .main-menu li a {
    color: #3b3b3b;
    font-family: 'Staatliches', cursive;
    font-size: 2vw;
}
header .inner .menu-group .main-menu li a:visited {
    color: #3b3b3b;
}
header .inner .menu-group .main-menu li a:hover {
    color: #ffc527d8;
}

/* HOME */
#home {
    position: relative;
    overflow: hidden;
    z-index: -1;
    box-sizing: border-box;
}
#home .inner {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
#home .inner video {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    overflow: hidden;
    opacity: 0.85;
}
#home .inner .home__title {
    width: 100%;
    line-height: 1.8;
    position: relative;
}
#home .inner .home__title svg {
    position: relative;
    z-index: 1;
}
#home .inner .home__title svg text{
    font-family: 'Staatliches', cursive;
    font-size: 120px;
    fill: transparent;
    stroke-dasharray: 326px;
    animation: stroke 3.2s linear 0.5s;
    animation-fill-mode: forwards;
}
#home .inner .home__title p {
    font-family: 'Staatliches', cursive;
    font-size: 6vw;
    color: rgb(255, 202, 27);
    opacity: 0;
    animation: fadeIn 2.5s linear 3s;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 1;
}

/* ABOUTME */
#aboutme .inner {
    width: 75%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}
#aboutme .inner .ab__container {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 10px;
    margin-bottom: 80px;
}
#aboutme .inner .ab__container.active {
    opacity: 1;
    transition: all 0.6s linear;
}
#aboutme .inner .ab__container .ab__img {
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    margin: auto 0;
    padding: 7px;
    box-sizing: border-box;
}
#aboutme .inner .ab__container .ab__img img {
    width: 70%;
    border-radius: 70px;
}
#aboutme .inner .ab__container .ab__summary {
    flex-grow: 3;
    flex-shrink: 3;
    padding: 10px;
    margin: auto 0;
    line-height: 2.3;
    box-sizing: border-box;
}
#aboutme .inner .ab__container .ab__summary span {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
}
#aboutme .inner .ab__container .ab__summary p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1vw;
    font-weight: 400;
    padding-top: 15px;
}
#aboutme .inner .info__container {
    opacity: 0;
    display: flex;
    justify-content: center;
    margin: 10px;
    justify-content: space-between;
    transform: translateY(150px);
}
#aboutme .inner .info__container.active {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s linear;
}
#aboutme .inner .info__container ul {
    margin: 20px 0;
    margin-left: 10px;
    font-family: 'Staatliches', cursive;
    font-size: 2.2vw;
}
#aboutme .inner .info__container ul li {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.7;
    border-left: 4px solid rgba(255, 204, 35, 0.938);
    margin: 15px 0;
    padding: 0 10px;
}
#aboutme .inner .info__container ul li:first-of-type {
    margin-top: 20px;
}
#aboutme .inner .info__container ul li span {
    font-size: 0.95vw;
    color: #66635e;
    vertical-align: baseline;
}

/* SKILLS */
#skills {
    padding: 10px 0;
}
#skills .inner {
    width: 80%;
    margin: 70px auto;
}
#skills .inner h3 {
    font-size: 5vw;
    margin-bottom: 80px;
}
#skills .inner .sk__container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px auto;
}
#skills .inner .sk__container .sk_wrapper {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 15px auto;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
}
#skills .inner .sk__container .sk_wrapper .pie-chart {
    width: 180px;
    height: 180px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
}
#skills .inner .sk__container .sk_wrapper .sk_icon i {
    font-size: 4vw;
    margin: 0 auto;
}
#skills .inner .sk__container .sk_wrapper .sk_name {
    font-family: 'Staatliches', cursive;
    font-size: 2vw;
    margin-top: 15px;
}
#skills .inner .sk__container .sk_wrapper span {
    font-family: 'Staatliches', cursive;
    font-size: 2vw;
    margin-bottom: 12px;
}

/* PORTFOLIO */
#portfolio {
    padding: 10px 0;
}
#portfolio .inner {
    width: 80%;
    margin: 100px auto 50px;
}
#portfolio .inner h3 {
    margin-bottom: 100px;
}
#portfolio .inner .pf__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#portfolio .inner .pf__container .pf_wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(var(--vh, 1vh) * 80);
    align-items: center;
    justify-content: center;
}
#portfolio .inner .pf__container .pf_wrapper .pf__num {
    position: absolute;
    top: -20px;
    left: -500px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 6.5vw;
}
#portfolio .inner .pf__container .pf_wrapper .pf__num.active {
    transition: all 0.3s linear;
    left: 0;
}
#portfolio .inner .pf__container .pf_wrapper:nth-child(2) .pf__num {
    left: initial;
    right: -500px;
}
#portfolio .inner .pf__container .pf_wrapper:nth-child(2) .pf__num.active {
    right: 0;
}
#portfolio .inner .pf__container .pf_wrapper .pf__img {
    opacity: 0;
    width: 60%;
    box-sizing: border-box;
    overflow: hidden;
}
#portfolio .inner .pf__container .pf_wrapper .pf__img.active {
    opacity: 1;
    transition: all 0.5s linear;
}
#portfolio .inner .pf__container .pf_wrapper .pf__img img{
    width: 100%;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    opacity: 0;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc.active {
    opacity: 1;
    transition: all 0.6s linear;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc h5 {
    font-family: 'Staatliches', cursive;
    font-size: 3.5vw;
    text-align: center;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc p {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.8vw;
    padding: 20px 0;
    margin-bottom: 5px;
    text-align: center;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc .pf__button {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc .pf__button button {
    border-radius: 20px;
    border: 0.3px solid rgba(170, 170, 170, 0.3);
    background-color: transparent;
    box-shadow: 2px 2px 3px 1px rgba(170, 170, 170, 0.7);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2vw;
    color: rgb(110, 110, 110);
    padding: 3px 20px;
    transition: all 0.2s linear;
    cursor: none;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc .pf__button button:last-of-type {
    margin-left: 10px;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc .pf__button button:hover {
    background-color: rgba(235, 191, 48, 0.733);
    border: 0.3px solid rgba(235, 191, 48, 0.3);
    color: #fff;
    transition: all 0.2s linear;
}

/* CONTACT */
#contact {
    border: 20px solid rgba(235, 191, 48, 0.733);
}
#contact .inner {
    width: 80%;
    height: 100%;
    padding: 50px 0;
    margin: 0 auto;
}
#contact .inner h3 {
    font-size: 50px;
    margin-bottom: 40px;
}
#contact .inner p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1rem;
    text-align: center;
}
#contact .inner .contact__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: 50px auto 20px;
}
#contact .inner .contact__container div {
    margin: 7px auto;
    display: flex;
    vertical-align: bottom;
}
#contact .inner .contact__container div i {
    font-size: 1.3rem;
}
#contact .inner .contact__container div p {
    margin-left: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
}
#contact .inner .form-box {
    width: 45%;
    margin: 50px auto;
    border: 0.5px solid rgba(85, 85, 85, 0.5);
    padding: 30px;
    border-radius: 20px;
}
#contact .inner .form-box form input {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #3b3b3b;
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(85, 85, 85, 0.5);
}
#contact .inner .form-box form .f-message input {
    height: 150px;
}

/* FOOTER */
footer {
    background-color: rgba(121, 121, 121, 0.795);
}
footer .inner {
    width: 80%;
    height: 100%;
    padding: 30px 100px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: lighter;
}

/* MEDIA QUERY */
@media screen and (max-aspect-ratio: 1219/685) {
    #home .inner video {
        width: auto;
        height: 100vh;
     }
 }
 
@media screen and (min-width:1024px) {



}

@media screen and (min-width:768px) and (max-width: 1023px) {

/* ABOUTME */
#aboutme .inner {
    margin: 30px auto;
}
#aboutme .inner .ab__container {

}
#aboutme .inner .ab__container .ab__img {
    padding: 0;
}
#aboutme .inner .ab__container .ab__summary {
    padding: 0;
}
#aboutme .inner .info__container {
    margin: 0 auto;
}

/* SKILLS */
#skills .inner .sk__container .sk_wrapper {
    width: 23vw;
    height: 23vw;
}
#skills .inner .sk__container .sk_wrapper .pie-chart {
    width: 18vw;
    height: 18vw;
}

/* PORTFOLIO */
#portfolio .inner .pf__container .pf_wrapper {
    height: calc(var(--vh, 1vh) * 100);
    flex-direction: column;
}
#portfolio .inner .pf__container .pf_wrapper .pf__num {
    top: 30px;
}
#portfolio .inner .pf__container .pf_wrapper .pf__img {
    width: 80%;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc h5 {
    font-size: 4.3vw;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc p {
    font-size: 2.2vw;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc .pf__button button {
    font-size: 1.8vw;
}

}

@media screen and (max-width:767px){ 

/* ABOUTME */
#aboutme .inner {
    width: 85%;
    margin: 30px auto;
}
#aboutme .inner .ab__container {
    margin: auto 0;
    flex-direction: column;
    align-items: center;
}
#aboutme .inner .ab__container .ab__img {
    padding: 0;
    display: flex;
}
#aboutme .inner .ab__container .ab__img img {
    justify-content: center;
    margin: 0 auto;
    width: 50%;
}
#aboutme .inner .ab__container .ab__summary {
    padding: 10px 40px;
    text-align: center;
}
#aboutme .inner .ab__container .ab__summary span {
}
#aboutme .inner .info__container {
    margin: 30px 10px;
    flex-direction: column;
}
#aboutme .inner .info__container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 3vw;
    margin: 10px 0;
}
#aboutme .inner .info__container ul li {
    margin-top: 0;
    margin: 10px 0;
}
#aboutme .inner .info__container ul li:first-of-type {
    margin-top: 0;
}

/* SKILLS */
#skills .inner {
    width: 85%;
    margin: 20px auto;
}
#skills .inner .sk__container .sk_wrapper {
    width: 20vw;
    height: 20vw;
}
#skills .inner .sk__container .sk_wrapper .pie-chart {
    width: 15vw;
    height: 15vw;
}

/* PORTFOLIO */
#portfolio .inner {
    width: 85%;
    margin: 30px auto;
}
#portfolio .inner h3 {
    margin-bottom: 30px;
}
#portfolio .inner .pf__container .pf_wrapper {
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 80);
    margin: 10px auto;
}
#portfolio .inner .pf__container .pf_wrapper .pf__num {
    top: 30px;
}
#portfolio .inner .pf__container .pf_wrapper .pf__img {
    width: 70%;
    margin: 0 auto;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc {
    width: 90%;
    margin: 0 auto;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc h5 {
    font-size: 5vw;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc p {
    font-size: 2.5vw;
}
#portfolio .inner .pf__container .pf_wrapper .pf__desc .pf__button button {
    font-size: 1.7vw;
}

/* CONTACT */
#contact .inner {
    padding: 20px 0;
}
#contact .inner h3 {
    font-size: 6vw;
}
#contact .inner p {
    font-size: 3vw;
}
#contact .inner .contact__container {
    margin: 20px auto;
}
#contact .inner .contact__container div i {
    font-size: 4vw;
}
#contact .inner .contact__container div p {
    font-size: 3vw;
}

/* FOOTER */ 
footer .inner {
    padding: 20px;
    font-size: 1.4vw;
}
}