/* COMMON */
.body__container {
    font-family: 'NanumSquareRound';
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}

/* SECTION & INNER */
.section {
    position: relative;
}
.section .inner {
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

/* HEADER */
header {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0.5px 2px 1px rgba(221, 221, 221, 0.5);
    position: fixed;
    z-index: 1;
}
header .inner {
    margin: 0 auto;
    width: 70%;
    height: 72px;
}
header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;
}
header .menu-group .logo {
    width: 30%;
}
header .menu-group .logo a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
header .menu-group .logo a:hover {
    color: orange;
}
header .menu-group .logo a:visited {
    color: black;
}
header .main-menu {
    display: flex;
    width: 70%;
    list-style: none;
}
header .main-menu li {
    width: 25%;
    text-align: right;
}
header .main-menu li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    font-weight: normal;
    text-decoration: none;
    color: #3c4146;
}
header .main-menu li a:hover {
    color: pink;
}

/* HOME */
.section--home {
    height: 780px;
    background-color: burlywood;
}
.section--home .inner {
    height: 100%;
    width: 90%;
}
.section--home .home--img {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("/img/homeImg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
}
#home--title {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
}
#home--title svg text {
    font-family: 'Staatliches', cursive;
    font-size: 97px;
    fill: transparent;
    stroke-dasharray: 326px;
    animation: stroke 2.5s linear;
    animation-fill-mode: forwards;
}
@keyframes stroke {
    0% {
        stroke: #3b3b3b;
        stroke-width: 3px;
        stroke-dashoffset: 326px;
    }

    70% {
        fill: transparent;
    }

    98% {
        stroke: #3b3b3b;
        stroke-width: 3px;
    }

    100% {
        fill: #3b3b3b;
        stroke-dashoffset: 0px;
    }
}
#home--title svg:hover text {
    cursor: pointer;
    fill: rgb(189, 189, 189)!important;
}
.section--home .home--description {
    display: none;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
}
.section--home .home--description p{
    font-size: 50px;
    background-color: orange;
}

/* PROFILE */
.section--profile {
    display: none;
    min-height: 650px;
    position: relative;
}
.section--profile .inner {
    max-width: 980px;
    height: 100%;
}
.section--profile h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
    margin: 50px 0;
}
#profile__tab {
    display: flex;
    padding-left: 0px;
    margin: 0 auto;
}
#profile__tab .tab {
    width: 150px;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 20px;
    list-style: none;
    cursor: pointer;
}
#profile__tab .tab:hover {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}
.clicked {
    box-shadow: 0 -7px 1px -1px rgba(175, 175, 175, 0.8);
    font-weight: 700;
}
#profile__tab .t1 {
    background-color: rgb(252, 242, 153);
}
#profile__tab .t2 {
    background-color: rgb(134, 186, 230);
}
#profile__tab .t3 {
    background-color: rgb(159, 147, 240);
}
.section--profile .profile__box {
    display: flex;
    position: relative;
}
.section--profile .box {
    position: absolute;
    margin: 0 auto;
    border-radius: 0 10px 10px 10px;
    border: 22px solid black;
}
.section--profile .profile__box .box1 {
    display: flex;
    border-color: rgb(252, 242, 153);
}
.section--profile .box1 .profile--img {
    padding: 40px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.section--profile .box1 .profile--img img{
    width: 150px;
}
.section--profile .box1 .profile--img p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 22px;
}
.section--profile .box1 .profile--summary {
    font-size: 17px;
    padding: 50px;
    line-height: 1.7;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.section--profile .box2 {
    display: none;
    border-color: rgb(134, 186, 230);
}
.section--profile .box3 {
    display: none;
    border-color: rgb(159, 147, 240);
}

/* PORTFOLIO */
.section--portfolio {
    display: none;
    position: relative;
    min-height: 600px;
}
.section--portfolio .inner {
    width: 80%;
    padding: 10px 0;
    margin: 20px auto 100px;
}
.section--portfolio .inner h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 70px;
}
.portfolio__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
}
.section--portfolio .portfolio__box {
    width: 80%;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    border: 0.2px solid rgba(211, 211, 211, 0.3);
}
.portfolio__box:hover {
    box-shadow: 10px 10px 10px 3px rgba(156, 156, 156, 0.5);
    width: 81%;
}
.portfolio__box .portfolio--img {
    box-sizing: border-box;
}
.portfolio__box .portfolio--img img {
    width: 100%;
}
.portfolio__box .portfolio--summary p {
    padding: 13px 5px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

/* CONTACT */
.section--contact {
    display: none;
    background-color: rgba(240, 240, 240, 0.5);
}
.section--contact .inner{
    width: 80%;
    padding: 40px 0;
    margin: 0 auto;
}
.section--contact h3 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 30px;
}
.section--contact .contact--box {
    font-size: 14px;
    text-align: center;
    line-height: 2.3;
}

/* FOOTER */
.section--footer {
    display: none;
    width: 100%;
    background-color:rgba(116, 116, 116, 0.7);
}
.section--footer .inner {
    padding: 20px;
}
.section--footer .summary {
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin: 0 auto;
}
.section--footer .summary p {
    text-align: center;
    color: #fefefe;
    font-size: 12px;
    line-height: 1.8;
}
